@model WebApplication2.mocks.DataMock
@{
    ViewData["Title"] = "Injection";
}

<h1>Injection</h1>
<div>

    <p>
        A = @Model.data.a <br />
        B = @Model.data.b <br />
        "+": @Model.data.AddFunc <br />
        "-": @Model.data.SubFunc <br />
        "*": @Model.data.MultFunc <br />

        "/": @Model.data.DivFunc <br />

    </p>

</div>
