@using WebApplication2.Services;
@inject IRandomValues randomValues
@{
    ViewData["Title"] = "Injection";
}

<h1>Injection</h1>
<div>

    <p>
        A = @randomValues.data.a <br />
        B = @randomValues.data.b <br />
        "+": @randomValues.data.AddFunc <br />
        "-": @randomValues.data.SubFunc <br />
        "*": @randomValues.data.MultFunc <br />

        "/": @randomValues.data.DivFunc <br />

    </p>

</div>
