@model WebApplication2.Models.DataPass
@{
    ViewData["Title"] = "result";
}

<h1>result</h1>
<div>
    
    <p>
        A = @Model.a <br />
        B = @Model.b <br />
        "+": @Model.AddFunc <br />
        "-": @Model.SubFunc <br />
        "*": @Model.MultFunc <br />
         
        "/": @Model.DivFunc <br />
        
    </p>

</div>

