
@{
    ViewData["Title"] = "ViewDataResult";
}

<h1>ViewDataResult</h1>
<p>
    A = @ViewData["a"]
    <br />
    B = @ViewData["b"]
    <br />
    "+": @ViewData["Add"]
    <br />
    "-": @ViewData["Sub"]
    <br />
    "*": @ViewData["Mult"]
    <br />
    "/": @ViewData["Div"]
    <br />
</p>