
@{
    ViewData["Title"] = "ViewBagResult";
}

<h1>ViewBagResult</h1>
<p>
    A = @ViewBag.model.a
    <br />
    B = @ViewBag.model.b
    <br />
    "+": @ViewBag.model.AddFunc
    <br />
    "-": @ViewBag.model.SubFunc
    <br />
    "*": @ViewBag.model.MultFunc
    <br />
    "/": @ViewBag.model.DivFunc
    <br />
</p>