
@{
    ViewData["Title"] = "ViewDataResult";
}

<h1>ViewDataResult</h1>
@{var a = ViewData["model"] as DataPass;}
<p>
    A =@a.a
    <br />
    B = @a.b
    <br />
    "+": @a.AddFunc
    <br />
    "-": @a.SubFunc
    <br />
    "*": @a.MultFunc
    <br />
    "/": @a.DivFunc
    <br />
</p>