
@{
    ViewData["Title"] = "ViewBagResult";
}

<h1>ViewBagResult</h1>
<p>
    A = @ViewBag.a
    <br />
    B = @ViewBag.b
    <br />
    "+": @ViewBag.add
    <br />
    "-": @ViewBag.sub
    <br />
    "*": @ViewBag.mult
    <br />
    "/": @ViewBag.div
    <br />
</p>